@import '../../variables';

.services--wrapper {
    position: relative;
}

.services--bg-grey {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 90%;
    height: 110%;
    background: url("/images/bg_services.jpg") no-repeat center center;
    background-size: cover;

    @media screen and (max-width: 1200px) {
        height: 105%;
    }

    @media screen and (max-width: 750px) {
        height: 99%;
    }
        
}

.services--service {
    display: flex;
    margin-bottom: 50px;

    &:nth-child(even) {
        justify-content: flex-end;
    }
}