@import '../../../../variables';

.carDetail--bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $black;
    z-index: 100000;
    overflow-x: hidden;
    // overflow-y: auto;
}

.carDetail {
    padding-top: 70px;
    // position: absolute;
    // top: 0;
    width: 100%;
    // overflow-y: scroll;
    // z-index: 10000;
}

.car-detail {
    // position: absolute;
    // top: 200px;
    // left: 50%;
    // transform: translateX(-50%);
    width: 80%;
    margin: 100px auto;
    background-color: $dark-grey-2;
    // z-index: 1100;
    border-radius: 5px;
    box-shadow: 0 0 20px $black;
    overflow: hidden;

    @media screen and (max-width: 1400px) {
        width: 90%;
    }

    @media screen and (max-width: 1050px) {
        width: 90%;
        max-width: 700px;
    }

    @media screen and (max-width: 768px) {
        width: 95%;
        top: 60px;
    }
}

.car-detail--top {
    padding: 15px 30px;
    border-bottom: 1px solid $orange;
    position: relative;
    
    @media screen and (max-width: 768px) {
        padding: 15px 20px;
    }
    
    .orange-btn-wrapper {   
        position: absolute;
        top: 0;
        right: -8px;        

        .orange-btn {
            padding: 12px 50px;
        }
    }
}

.car-detail--brand-wrapper {

    @media screen and (max-width: 1100px) {
        flex-direction: column;
        align-items: flex-start;
    }

    .flex {
        align-items: baseline;
    }
}

.car-detail--logo {
    height: 40px;
    // margin-right: 10px;
}

.car-detail--h1 {
    font-size: 26px;
    font-weight: 700;
    padding: 0 20px 0 30px;

    @media screen and (max-width: 1100px) {
        padding-left: 0;
    }
}

.car-detail--h2 {
    font-size: 20px;
    font-weight: 400;
}

.car-detail--wrapper {

    .flex-between {
        @media screen and (max-width: 1050px) {
            flex-direction: column; 
        }
    }
}

.car-detail--middle-part {
    align-items: flex-start;
    padding: 20px 0 35px 30px;
    
    @media screen and (max-width: 1050px) {
        padding: 20px 30px 35px 30px;
    }

    @media screen and (max-width: 768px) {
        padding: 20px 20px 35px 20px;
    }
}

.slick {
    width: 58%;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.8);

    @media screen and (max-width: 1050px) {
        width: 100%;
        margin-bottom: 20px;
    }
}

.car-detail--detail {
    width: 42%;
    margin-left: 26px;
    padding: 20px 10px 75px 10px;
    background-color: $dark-grey-3;

    @media screen and (max-width: 1300px) {
        width: 55%;
    }

    @media screen and (max-width: 1150px) {
        width: 65%;
    }
    
    @media screen and (max-width: 1050px) {
        width: 100%;
        margin-left: 0;
    }
}

.car-detail--text {
    padding-bottom: 30px;

    .car-detail--p {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.5;

        .car-detail--span {
            font-weight: 400;
        }
    }
}

.car-detail--icons {
    padding-bottom: 60px;
    
    @media screen and (max-width: 550px) {
        justify-content: space-around;
    }
}

.car-detail--icon-wrapper {
    margin: 0 3.5% 30px;

    .flex-col {
        align-items: center;
        justify-content: center;
    }

    .car-detail--icon {
        width: 66px;
        height: 66px;
        object-fit: contain;
    }

    .car-detail--description {
        padding-top: 12px;
    }
}

.car-detail--price {
    .orange-btn-wrapper {   
        position: relative;
        right: -18px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 1050px) {
            right: 0;
        }

        .orange-btn {
            padding: 12px 50px;
            font-size: 14px;
        }
    }

    &.flex-end {
        @media screen and (max-width: 1050px) {
            justify-content: space-around;
        }

        @media screen and (max-width: 630px) {
            flex-direction: column;
            align-items: center;
        }
    }
}

.car-detail--priceFrom {
    align-items: baseline;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    // margin-right: 10%;
    line-height: 1;

    .car-detail--superh1 {
        font-size: 45px;
        font-style: normal;
        padding-left: 10px;
    }
}

.car-detail--prices {
    padding-bottom: 20px;
}

.car-detail--close {
    margin: 10px;
    cursor: pointer;
}

.carDetail--small {
    font-size: 15px;
    margin-top: 15px;
    display: block;
}

.car-detail-price-wrapper {
    h2 {
        padding-bottom: 0;
    }

    @media screen and (max-width: 630px) {
        margin: 0 0 30px 0;
    }
}