@import '../../../variables';

.service--wrapper {
    display: inline-block;
    text-align: center;
    background-color: $black;
    padding: 46px 70px;
    
    border: 1px solid $orange;
    transform: skew(-20deg);

    @media screen and (max-width: 900px) {
        padding: 30px 50px;
        transform: skew(-10deg);
    }
    
    @media screen and (max-width: 580px) {
        padding: 26px 30px;
        transform: skew(0deg);
    }

        &.service {
            width: 50%;
            box-shadow: 0px 20px 45px rgba(0,0,0, 0.8);

            @media screen and (max-width: 1400px) {
                width: 90%;
                margin: 0 auto;
            }

            @media screen and (max-width: 480px) {
                width: 100%;
            }
        }

        &.condition {
            width: 100%;
            // box-shadow: 0px 20px 45px rgba(196,60,0,0.5);

            @media screen and (max-width: 1400px) {
                width: 90%;
                margin: 0 auto;
            }

            @media screen and (max-width: 480px) {
                width: 100%;
            }
        }

        &.about {

            @media screen and (max-width: 1400px) {
                width: 90%;
                margin: 0 auto;
            }

            @media screen and (max-width: 480px) {
                width: 100%;
            }

            h2 {
                display: none;
            }

            p {
                margin: 0 auto;
                width: 80%;
                max-width: 800px;
            }
        }
}

.service--content {
    font-style: italic;
    transform: skew(20deg);

    @media screen and (max-width: 900px) {
        transform: skew(10deg);
    }

    @media screen and (max-width: 580px) {
        transform: skew(0deg);
    }

    p {
        font-size: 19px;
        line-height: 1.5;
    }
}

.clickable {
    cursor: pointer;

    &:hover {
        color: $orange;
        // text-shadow: 2px 2px 5px $orange;
    }
}