@import '../../../variables';

.headingMain {
    position: relative;

    .center-wrapper {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);

        @media screen and (max-width: 500px) {
            width: 80%;
        }
    }
}

.headingMain-noLine {
    .headingMain--line, 
    .headingMain--glowWrapper {
        display: none;
    }

    @media screen and (max-width: 330px) {
        padding-bottom: 30px;
    }
}

.h1-scewed-bordered {
    margin-bottom: 70px;
    
    .headingMain--h1-wrapper {
        text-align: center;
        display: inline-block;
        padding: 16px 70px;
        // margin-bottom: 87px;
        margin-top: 10px;
        border-left: 2px solid $grey-blue;
        border-right: 2px solid $grey-blue;
        transform: skew(-20deg);
    
        h1 {
            transform: skew(20deg);
        }
    }
}

.h1-glow_reverse {
    display: flex;
    flex-direction: column-reverse;

    .center-wrapper {
        top: initial;
        bottom: 40px;
    }

    .headingMain--glowWrapper {
        transform: rotate(180deg);
    }
}

.headingMain--line {
    width: 100%;
    margin: 0 auto;
    height: 1px;
    border-top: 1px solid $grey-blue;
}

.headingMain--glowWrapper {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-top: 10%;
}

.headingMain--glow {
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}