@import '../../../variables';

.dark-box {
    background-color: $black;
    border: 1px solid $orange;
    padding: 20px 20px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    margin: 10px 10px;
}

.dark-box--days {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 15px;
}

.dark-box--price {
    font-size: 36px;
    padding-bottom: 60px;

    .dark-box--price-small {
        font-size: 18px;
        font-style: italic;
    }
}