@import '../../../variables';

@mixin btnWrapper($color) {
    // display: inline-block;
    // // padding: 15px 35px;
    font-weight: 800;
    text-align: center;
    transform: skew(-20deg);
    color: $white;
    background-color: $color;
    border: 1px solid $color;
    width: 220px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;

    @media screen and (max-width: 525px) {
        width: 300px;
    }

    @media screen and (max-width: 380px) {
        width: 250px;
    }

    &:last-child {
        @media screen and (max-width: 784px) {
            margin-bottom: 50px;
        }
    }
}

.filter {
    position: relative;
    margin-top: 175px; 
    padding: 60px 0 154px;
    
    @media screen and (max-width: 1250px) {
        margin-top: 100px; 
    }

    @media screen and (max-width: 910px) {
        padding-top: 30px;
    }
}

.filter--bgImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../../assets/images/road.png') no-repeat top center;
    background-size: cover;
    z-index: -1;
}

.filter--filterWrapper {
    padding: 160px 0 20px;

    @media screen and (max-width: 784px) {
        padding-bottom: 60px;
    }
}

.filter--buttonWrapper {
    @include btnWrapper(transparent);
    font-weight: 400;
    margin-bottom: 6px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        border: 1px solid $orange;
        color: $orange;
    }
}

.filterBtn--active {
    border: 1px solid $orange;
    color: $orange;
    font-weight: 700;
}

.filter--buttonWrapper-grey {
    @include btnWrapper($grey-blue);
    font-style: italic;
    margin-bottom: 8px;

    @media screen and (max-width: 910px) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        padding: 0 20px;
        cursor: pointer;
    }
}

.filter--buttonWrapper-orange {
    // @include btnWrapper($orang);
    @include btnWrapper(transparent);
    color: $orange;
    border: 1px solid $orange;
    font-style: italic;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        // box-shadow: 0 0 20px $orange;
        color: $white;
        background-color: $orange;
    }
    
    @media screen and (max-width: 1039px) and (min-width: 784px) {
        margin: 30px 0;
    }
}

.filter--button {
    font-size: 15px;
    text-transform: uppercase;
    border: 0;
    transform: skew(20deg);
}

.arrow-down {
    display: none;

    @media screen and (max-width: 910px) {
        display: inline-block;
    }
}

.closed {
    height: 0;
    opacity: 0;
    transition: height 0.5s, opacity 0.1s; // zatvaranie 

    &.open {
        opacity: 1;
        height: 300px;
        transition: height 0.5s, opacity 1s; // otvaranie
    }

    &.openSmall {
        opacity: 1;
        height: 200px;
        transition: height 0.5s, opacity 1s; // otvaranie
    }
}
