@import '../../../../variables';

.carCard {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(33% - 30px);
    margin: 0 15px 30px;
    text-decoration: none;
    color: $white;
    box-shadow: 0 0 25px rgba(0,0,0,1);
    transition: 0.2s;

    @media screen and (max-width: 1450px) {
        width: calc(50% - 15px);
        max-width: 450px;
    }

    @media screen and (max-width: 870px) {
        width: 100%;
        max-width: 400px;
    }

    &:hover {
        box-shadow: 0 0 50px rgba(0,0,0,1);
        cursor: pointer;

        .carCard--image {
            top: -5%;
            left: -5%;
            width: 110%;
            height: 110%;
        }

        .carCard--buttonWrapper {
            background-color: $orange;
        }

        .carCard--button {
            background-color: $orange;
        }

        .carCard--info {
            background-color: $black;
            border: 1px solid $orange;
            border-top: 0;
        }
    }
}

// image apect ratio box

.carCard--imageWrapper {
    height: 0;
    overflow: hidden;
    padding-top: 56.222222222%;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.carCard--image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.2s;
}


// overlay

.carCard--overlay {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent 70%, rgba(0,0,0,0.5));
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;  
}

//button

.carCard--buttonWrapper {
    position: absolute;
    top: -16px; //toto
    left: 50%;
    display: inline-block;
    text-align: center;
    padding: 10px 55px;
    background-color: $grey-blue;
    transform: skew(-20deg) translateX(-50%);
    z-index: 90;
    transition: 0.2s;
}

.carCard--button {
    font-size: 14px;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    color: $white;
    background-color: $grey-blue;
    border: 0;
    transform: skew(20deg);
    transition: 0.2s;
    white-space: nowrap;
}

// info

.carCard--info {
    position: relative;
    padding: 20px 22px 18px;
    background-color: $dark-grey;
    border: 1px solid $dark-grey;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 0;
    line-height: 1;
    flex-grow: 1;
    transition: 0.2s;

    @media screen and (max-width: 440px) {
        padding: 20px 12px 18px;
    }

    .flex-between {
        align-items: baseline;
    }
}

.carCard--h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    padding: 0;

    @media screen and (max-width: 440px) {
        font-size: 30px;
    }

    @media screen and (max-width: 350px) {
        font-size: 26px;
    }
}

.carCard--h2 {
    font-weight: 700;
    font-style: normal;
    padding: 0 0 7px;

    @media screen and (max-width: 440px) {
        font-size: 20px;
    }
}

.carCard--span {
    padding-right: 5px;
    text-transform: none;
}

.carCard--col-center {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 22px !important;
    font-weight: bold !important;
    
    @media screen and (max-width: 400px) {
        font-size: 20px !important;
        right: 6px;
    }

    @media screen and (max-width: 355px) {
        font-size: 16px !important;
        font-weight: normal !important;
    }
}

.carCard--italic {
    font-size: 19px;
    font-style: italic;
    font-weight: normal;
    text-transform: none;
    max-width: 65%; // toto

    @media screen and (max-width: 440px) {
        font-size: 15px;
    }
}

.carCard--small {
    font-size: 15px;
}