@import '../../../variables';

.cars {
    margin-top: -10vw;

}

.cars--wrapper {
    padding: 90px 0;
    background-color: $light-black;

    @media screen and (max-width: 550px) {
        padding-bottom: 40px;
    }
}