@import '../../variables';


.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-image: linear-gradient($black 80%, transparent);
    padding-bottom: 40px;
    z-index: 1000;

    @media screen and (max-width: 910px) {
        background-image: linear-gradient($black 85%, transparent);
        min-height: 80px;
    }

    .container {
        position: relative;
    }
}

.header--openHours {
    color: $light-grey;
    text-align: right;
    font-style: italic;
    padding: 10px 1.6% 0;

    @media screen and (max-width: 910px) {
        display: none;
    }
}

.header--nav-link {
    display: inline-block;
    padding: 9px 35px;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    border: 1px solid transparent;
    cursor: pointer;
    transform: skew(-20deg);
    transition: color 0.2s, border 0.2s ease-in;

    @media screen and (max-width: 1220px) {
        padding: 9px 30px;
    }

    @media screen and (max-width: 1020px) {
        font-size: 15px;
        padding: 8px 26px;
    }

    @media screen and (max-width: 910px) {
        margin-bottom: 10px;
    }

    &:hover {
        color: $orange;
        border: 1px solid $orange;

        @media screen and (max-width: 910px) {
            border-right: 1px dashed $orange;
            border-left: 1px dashed $orange;
        }
    }

    &.header--active {
        border: 1px solid $orange;

        .header--link {
            color: $orange;
        }
    }

    .header--link {
        display: inline-block;
        transform: skew(20deg);
        color: $white;
    }
}

.header--logoFull {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;
    z-index: -1;
    top: -10px;

    @media screen and (max-width: 1250px) {
        top: 0;
    }
}

.header--logo {
    position: absolute;
    top: -20px;
    width: 120%;
    height: auto;
    
    @media screen and (max-width: 1250px) {
        display: none;
    }
}

.header--logo-small {
    position: absolute;
    top: 10px;
    display: none;

    @media screen and (max-width: 1250px) {
        display: block;
        height: 50px;
    }

    @media screen and (max-width: 1020px) {
        top: 15px;
        height: 40px;
    }

    @media screen and (max-width: 500px) {
        display: none;
    }
}

.header--logo-mobile {
    display: none;

    @media screen and (max-width: 500px) {
        display: block;
        width: 100%;
    }
}

.header--divider {
    height: 1px;
    width: 20%;
    margin: 0 5px;
}


.header--to-top {
    position: absolute;
    bottom: -1.2vw;
    left: 50%;
    transform: translateX(-50%);
    width: 11vw;
    height: 7.8vw;
    z-index: 50000;
    opacity: 0;
    cursor: pointer;

    @media screen and (max-width: 910px) {
        display: none;
    }
}

.header--ul-left {
    padding-left: 20px;

    @media screen and (max-width: 910px) {
        padding-left: 0;
    }
}

nav {
    position: relative;
    margin-top: 2.7%;

    @media screen and (max-width: 1250px) {
        margin-top: 20px;
    }

    @media screen and (max-width: 910px) {
        flex-direction: column;
        align-items: center;
        margin-top: 85px;
        padding-bottom: 40px;
    }

    @media screen and (max-width: 500px) {
        margin-top: 20px;
    }

    .flex {
        @media screen and (max-width: 910px) {
            flex-direction: column;
            align-items: center;
        }
    }
}

.img-flag {
    max-width: 100%;
}

.socials {
    margin-top: 5px;

    .fb {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        background: url("/images/fbico_off.png") no-repeat center center;
        background-size: contain;
        cursor: pointer;
        transition: 0.2s;
        color: transparent;

        &:hover {
            background-image: url("/images/fbico_on.png");
        }
    }

    .insta {
        width: 20px;
        height: 20px;
        background: url("/images/instaico_off.png") no-repeat center center;
        background-size: contain;
        cursor: pointer;
        transition: 0.2s;
        color: transparent;

        &:hover {
            background-image: url("/images/instaico_on.png");
        }
    }
}

.header--desktop {
    @media screen and (max-width: 910px) {
        display: none;
    }
}

.header--mobile {
    display: none;

    @media screen and (max-width: 910px) {
        display: block;
    }
}

.lang-dropdown {
    margin-left: 40px;
}

.mobile-lang {
    position: absolute;
    top: 17px;
    right: 0px;

    @media screen and (max-width: 500px) {
        top: -13vw;
        right: 0px;
    }
}

// burger

.mobileMenu {
    cursor: pointer;
    display: none;
    
    @media screen and (max-width: 910px) {
        display: inline-block;
        position: absolute;
        top: 17px;
        left: 10px;
        margin-top: 11px;
    }

    @media screen and (max-width: 500px) {
        top: -15vw;
        left: 5px;
    }
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 2px;
    background-color: $white;
    margin: 7px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(3px, 0px);
    transform: rotate(-45deg) translate(3px, 0px);
  }
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -10px);
    transform: rotate(45deg) translate(-6px, -10px);
  }
