@import '../../variables';

.footer--logoFull {
    position: relative;
    height: 0;
    padding-top: 14.89%;
    overflow: hidden;
}

.footer--logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer--copyright {
    font-size: 12px;
    font-weight: 600;
    padding: 0 0 30px;
    color: $light-grey;
    text-decoration: none;
}