.App {
    position: relative;
}

.carDetailUrl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    overflow: scroll;
    z-index: 100000000;
}