@import './variables';


/* open-sans-regular - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/open-sans-v17-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('./assets/fonts/open-sans-v17-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-italic - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('./assets/fonts/open-sans-v17-latin-ext_latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('./assets/fonts/open-sans-v17-latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-italic.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600 - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/open-sans-v17-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('./assets/fonts/open-sans-v17-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600italic - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('./assets/fonts/open-sans-v17-latin-ext_latin-600italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
       url('./assets/fonts/open-sans-v17-latin-ext_latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-600italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/open-sans-v17-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('./assets/fonts/open-sans-v17-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700italic - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url('./assets/fonts/open-sans-v17-latin-ext_latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
       url('./assets/fonts/open-sans-v17-latin-ext_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-700italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-800 - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('./assets/fonts/open-sans-v17-latin-ext_latin-800.eot'); /* IE9 Compat Modes */
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
       url('./assets/fonts/open-sans-v17-latin-ext_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-800.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-800italic - latin-ext_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url('./assets/fonts/open-sans-v17-latin-ext_latin-800italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
       url('./assets/fonts/open-sans-v17-latin-ext_latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-800italic.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/open-sans-v17-latin-ext_latin-800italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

// //----------------------------------------------------------------------------

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $black;
  color: $white;
}

ul {
  list-style: none;
}

h1 {
  font-size: 29px;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;

  @media screen and (max-width: 640px) {
      font-size: 24px; 
  }
}

h2 {
  font-size: 24px;
  font-weight: 800;
  font-style: italic;
  padding-bottom: 30px;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
}

.center-wrapper {
  text-align: center;
}


.container {
  width: 80%;
  max-width: 1690px;
  margin: 0 auto;

  @media screen and (max-width: 1400px) {
    width: 90%;
  }
}

.section-pb {
  padding-bottom: 90px;

  @media screen and (max-width: 550px) {
    padding-bottom: 40px;
  }
}

.orange-btn-wrapper {
  display: inline-block;
  transform: skew(-20deg);
  background-color: $grey-blue;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: $orange;
  }

  .orange-btn {
    display: inline-block;
    padding: 10px 26px;
    font-size: 12px;
    font-weight: 800;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    transform: skew(20deg);
  }
}

.orange {
  font-size: 18px;
  color: $orange;
  font-style: italic;
}

.orange-hover {
  text-decoration: none;
  color: $white;
  cursor: pointer;

  &:hover {
    color: $orange;
  }
}

.hide {
  display: none !important;
}

.overflow-hidden {
  overflow: hidden;
}


// FLEX

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;

  // @media screen and (max-width: 784px) {
  //   padding-bottom: 50px;
  // }
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}

.flex-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-end {
  justify-content: flex-end;
}

.wrap {
  flex-wrap: wrap;
}