@import '../../variables';

.conditions {
    position: relative;
}

.conditions--show-hide {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 400px;

    background-image: linear-gradient(to top, $black, $black, $black, rgba(0,0,0,0.7), transparent);

}

.conditions-hidden {
    height: 1140px;
    overflow: hidden;
}

.conditions-shown {
    padding-bottom: 70px;

    .conditions--show-hide { 
        height: 200px;
    }
}

.conditions--buttonWrapper {
    display: inline-block;
    padding: 15px 35px;
    background-color: $grey-blue;
    transform: skew(-20deg);
    margin-bottom: 90px;
    cursor: pointer;

    &:hover {
        background-color: $orange;
    }

    @media screen and (max-width: 500px) {
        max-width: 90%;
    }

    @media screen and (max-width: 400px) {
        max-width: 80%;
    }
}

.conditions--button {
    font-size: 15px;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    color: $white;
    transform: skew(20deg);
}