@import '../../../variables';

.scroll-to-top--wrapper {
    position: fixed;
    bottom: 20px;
    right: 35px;
    border: solid $orange;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 11px;
    cursor: pointer;
    transform: rotate(45deg) skew(-17deg, -17deg);
    -webkit-transform: rotate(225deg) skew(-17deg, -17deg);
    transition: 0.1s;

    &:hover {
        border-width: 0 6px 6px 0;
        bottom: 18px;
        right: 33px;
    }
  }
  